Repository invertase/react-native-firebase, pull requests merged in 2018-07, with the labels that each got.

#869 Flow type: Modifies db Reference push() to return ThenableReference
  lib/modules/database/Reference.js
Labels: database, typings

#1295 [config][android] Handle remote config error
  android/src/main/java/io/invertase/firebase/config/RNFirebaseRemoteConfig.java
  ios/RNFirebase/config/RNFirebaseRemoteConfig.m
Labels: remote-config

#1058 [Android] Add the ability to remove notifications based on the tag
  .github/ISSUE_TEMPLATE/Bug_report.md
  README.md
  android/src/main/java/io/invertase/firebase/notifications/DisplayNotificationTask.java
  android/src/main/java/io/invertase/firebase/notifications/RNFirebaseNotificationManager.java
  android/src/main/java/io/invertase/firebase/notifications/RNFirebaseNotifications.java
  ios/RNFirebase/notifications/RNFirebaseNotifications.m
  lib/index.d.ts
  lib/modules/notifications/AndroidNotification.js
  lib/modules/notifications/AndroidNotifications.js
  lib/modules/notifications/types.js
Labels: messaging, notifications
