Repository invertase/react-native-firebase, pull requests merged in 2018-10, with the labels that each got.

#1594 [ios] Firebase SDK update -> v5.10.0
  ios/RNFirebase.xcodeproj/project.pbxproj
  tests/ios/Podfile
  tests/ios/Podfile.lock
  tests/ios/testing.xcodeproj/project.pbxproj
Labels: ios, pending-ci

#1605 Misc v5.1.0 changes
  ios/RNFirebase/converters/RCTConvert+UIBackgroundFetchResult.m
  ios/RNFirebase/firestore/RNFirebaseFirestore.h
  ios/RNFirebase/firestore/RNFirebaseFirestore.m
  ios/RNFirebase/notifications/RNFirebaseNotifications.m
  src/modules/firestore/DocumentSnapshot.js
  src/modules/notifications/IOSNotification.js
  src/modules/notifications/Notification.js
  tests/e2e/firestore/transactions.e2e.js
  tests/e2e/notifications/ios.e2e.js
  tests/ios/Podfile.lock
  tests/ios/testing/AppDelegate.m
  tests/package.json
Labels: ios, notifications, 🤖 android

#1618 [android][database] fix transactions issue in debugger #1503
  android/src/main/java/io/invertase/firebase/database/RNFirebaseDatabase.java
Labels: database, 🤖 android

#1620 Returning null as downloadUrl in upload task
  android/src/main/java/io/invertase/firebase/storage/RNFirebaseStorage.java
  tests/e2e/storage/storage.e2e.js
Labels: storage, 🤖 android

#1624 [Android][IOS][Firestore] add arrayRemove and arrayUnion to FieldValue
  android/src/main/java/io/invertase/firebase/firestore/FirestoreSerialize.java
  ios/RNFirebase/firestore/RNFirebaseFirestoreDocumentReference.m
  src/index.d.ts
  src/modules/firestore/FieldValue.js
  src/modules/firestore/utils/any.js
  src/modules/firestore/utils/serialize.js
  tests/e2e/firestore/fieldValue.e2e.js
Labels: firestore, ios, 🤖 android

#1630 Fix IOSNotification badge type definition
  src/index.d.ts
Labels: ios, notifications, typings

#1626 Add IOSMessaging module for APNS specific methods
  ios/RNFirebase/messaging/RNFirebaseMessaging.m
  src/index.d.ts
  src/modules/messaging/IOSMessaging.js
  src/modules/messaging/index.js
Labels: ios, messaging

#1619 [android][database] database improvements
  android/src/main/java/io/invertase/firebase/database/RNFirebaseDatabase.java
  android/src/main/java/io/invertase/firebase/database/RNFirebaseDatabaseReference.java
  src/modules/database/Reference.js
  src/modules/utils/database.js
  src/modules/utils/index.js
  tests/app.js
  tests/e2e/database/issueSpecific.e2e.js
  tests/e2e/database/ref/child.e2e.js
  tests/e2e/database/ref/factory.e2e.js
  tests/e2e/database/ref/isEqual.e2e.js
  tests/e2e/database/ref/key.e2e.js
  tests/e2e/database/ref/parent.e2e.js
  tests/e2e/database/ref/priority.e2e.js
  tests/e2e/database/ref/push.e2e.js
  tests/e2e/database/ref/query.e2e.js
  tests/e2e/database/ref/transactions.e2e.js
  tests/e2e/database/rnReload.e2e.js
  tests/e2e/database/snapshot.e2e.js
  tests/helpers/database/index.js
  tests/helpers/index.js
  tests/ios/Podfile.lock
  tests/package.json
Labels: database, js, 🤖 android
