Repository invertase/react-native-firebase, pull requests merged in 2018-04, with the labels that each got.

#938 fixes races bug in react-native > 0.52
  ios/RNFirebase/analytics/RNFirebaseAnalytics.m
Labels: analytics, ios

#945 New typings
  lib/index.d.ts
Labels: notifications, typings

#933 Codorials
  .npmignore
  codorials/authentication-with-firebase/app-navigation.md
  codorials/authentication-with-firebase/assets/1-unauthenticated-nav.jpg
  codorials/authentication-with-firebase/assets/2-unauthenticated-nav.jpg
  codorials/authentication-with-firebase/assets/3-unauthenticated-push-pop.gif
  codorials/authentication-with-firebase/assets/add-user.jpg
  codorials/authentication-with-firebase/assets/app-bootstrapped.jpg
  codorials/authentication-with-firebase/assets/auth-providers.jpg
  codorials/authentication-with-firebase/assets/signin.gif
  codorials/authentication-with-firebase/assets/textinput-update.gif
  codorials/authentication-with-firebase/conclusion.md
  codorials/authentication-with-firebase/config.json
  codorials/authentication-with-firebase/creating-a-signin-form.md
  codorials/authentication-with-firebase/facebook-login.md
  codorials/authentication-with-firebase/getting-started.md
  codorials/authentication-with-firebase/google-login.md
  codorials/authentication-with-firebase/handling-authentication-state.md
  codorials/authentication-with-firebase/integrating-redux.md
  codorials/authentication-with-firebase/project-structure.md
  codorials/authentication-with-firebase/understanding-firebase-auth.md
Labels: auth, docs
