Repository invertase/react-native-firebase, pull requests merged in 2018-12, with the labels that each got.

#1718 Add enableCrashlyticsCollection to Crashlytics
  .circleci/config.yml
  android/src/main/java/io/invertase/firebase/fabric/crashlytics/RNFirebaseCrashlytics.java
  ios/RNFirebase/fabric/crashlytics/RNFirebaseCrashlytics.m
  src/index.d.ts
  src/modules/crashlytics/index.js
  tests/e2e/crashlytics/crashlytics.e2e.js
  tests/ios/Podfile
  tests/ios/Podfile.lock
  tests/yarn.lock
  yarn.lock
Labels: crashlytics, ios, 🤖 android

#1488 Re-configure Android CI
  .circleci/config.yml
  .circleci/scripts/wait-for-avd.sh
  android/src/main/java/io/invertase/firebase/fabric/crashlytics/RNFirebaseCrashlytics.java
  tests/README.md
  tests/android/app/build.gradle
  tests/android/build.gradle
  tests/android/gradle.properties
  tests/index.android.js
  tests/package.json
Labels: ci, help-wanted, 🛠 build, 🤖 android

#1784 Upgrade iOS version to iOS9
  ios/RNFirebase.xcodeproj/project.pbxproj
Labels: ios, ios9
