Repository invertase/react-native-firebase, pull requests merged in 2018-11, with the labels that each got.

#1663 [ios][android] Authentication improvements
  android/src/main/java/io/invertase/firebase/auth/RNFirebaseAuth.java
  ios/RNFirebase/auth/RNFirebaseAuth.h
  ios/RNFirebase/auth/RNFirebaseAuth.m
  src/modules/auth/index.js
  src/utils/native.js
  tests/e2e/auth/rnReload.e2e.js
  tests/yarn.lock
Labels: add-test-case, auth, ios, rn-reload, 🤖 android

#1699 Add setUserProperties to index.d.ts
  src/index.d.ts
Labels: analytics, typings

#1709 [typescript][storage] export storage statics - fixes #1706
  package.json
  src/index.d.ts
  tests/package.json
  yarn.lock
Labels: storage, typings

#1710 [typescript][firestore] improve `onSnapshot` error definitions - fixes #1708
  src/index.d.ts
  src/modules/firestore/DocumentReference.js
Labels: firestore, typings
