Repository invertase/react-native-firebase, pull requests merged in 2018-09, with the labels that each got.

#1310 [iOS] disable logging to application console in production
  .editorconfig
  ios/RNFirebase/RNFirebase.m
  ios/RNFirebase/RNFirebaseUtil.h
  ios/RNFirebase/RNFirebaseUtil.m
  ios/RNFirebase/auth/RNFirebaseAuth.m
  ios/RNFirebase/database/RNFirebaseDatabase.m
  ios/RNFirebase/database/RNFirebaseDatabaseReference.m
  ios/RNFirebase/firestore/RNFirebaseFirestore.m
  ios/RNFirebase/invites/RNFirebaseInvites.m
  ios/RNFirebase/links/RNFirebaseLinks.m
  ios/RNFirebase/messaging/RNFirebaseMessaging.m
  ios/RNFirebase/notifications/RNFirebaseNotifications.m
Labels: await-invertase-feedback, internals, ios

#1346 [typescript] Update storage typings
  src/index.d.ts
Labels: await-user-feedback, storage, typings

#1472 RN 57
  .circleci/scripts/packager-warmup.js
  .npmignore
  package-lock.json
  package.json
  src/utils/emitter/EmitterSubscription.js
  src/utils/emitter/EventEmitter.js
  src/utils/emitter/EventSubscription.js
  src/utils/emitter/EventSubscriptionVendor.js
  src/utils/events.js
  tests/.babelrc
  tests/.babelrc.js
  tests/.watchmanconfig
  tests/README.md
  tests/android/app/src/main/java/com/testing/MainApplication.java
  tests/app.js
  tests/e2e/bridge.spec.js
  tests/e2e/database/ref/once.e2e.js
  tests/e2e/database/ref/set.e2e.js
  tests/e2e/database/snapshot.e2e.js
  tests/e2e/firestore/collectionReference.e2e.js
  tests/e2e/firestore/documentReference.e2e.js
  tests/e2e/firestore/documentSnapshot.e2e.js
  tests/e2e/firestore/fieldValue.e2e.js
  tests/e2e/firestore/path.e2e.js
  tests/e2e/jet.spec.js
  tests/helpers/firestore.js
  tests/helpers/index.js
  tests/index.android.js
  tests/ios/Podfile.lock
  tests/ios/testing.xcodeproj/project.pbxproj
  tests/metro.config.js
  tests/package-lock.json
  tests/package.json
  tests/rn-cli.config.js
  tests/yarn.lock
  yarn.lock
Labels: RN-0.57.x, core, tests, 🛠 build

#1491 [android][utils] `isAppInForeground` not accounting for React Native LifecycleState
  android/src/main/java/io/invertase/firebase/Utils.java
Labels: android, notifications, react-native

#1476 [auth] Support updatePhoneNumber
  android/src/main/java/io/invertase/firebase/auth/RNFirebaseAuth.java
  ios/RNFirebase/auth/RNFirebaseAuth.m
  src/index.d.ts
  src/modules/auth/User.js
  tests/e2e/auth/user.e2e.js
Labels: android, auth, await-maintainer-feedback, ios

#1528 [auth] add getIdTokenResult support
  android/src/main/java/io/invertase/firebase/Utils.java
  android/src/main/java/io/invertase/firebase/auth/RNFirebaseAuth.java
  ios/RNFirebase/RNFirebaseUtil.h
  ios/RNFirebase/RNFirebaseUtil.m
  ios/RNFirebase/auth/RNFirebaseAuth.m
  src/index.d.ts
  src/modules/auth/User.js
  src/modules/auth/types.js
  tests/e2e/auth/auth.e2e.js
  tests/e2e/auth/user.e2e.js
Labels: android, auth, ios
