Repository invertase/react-native-firebase, pull requests merged in 2018-08, with the labels that each got.

#1362 [android][firestore] implement threaded snapshot serialization
  android/src/main/java/io/invertase/firebase/Utils.java
  android/src/main/java/io/invertase/firebase/firestore/DocumentSnapshotSerializeAsyncTask.java
  android/src/main/java/io/invertase/firebase/firestore/FirestoreSerialize.java
  android/src/main/java/io/invertase/firebase/firestore/QuerySnapshotSerializeAsyncTask.java
  android/src/main/java/io/invertase/firebase/firestore/RNFirebaseFirestore.java
  android/src/main/java/io/invertase/firebase/firestore/RNFirebaseFirestoreCollectionReference.java
  android/src/main/java/io/invertase/firebase/firestore/RNFirebaseFirestoreDocumentReference.java
  android/src/main/java/io/invertase/firebase/firestore/RNFirebaseFirestorePackage.java
  android/src/main/java/io/invertase/firebase/firestore/RNFirebaseFirestoreTransactionHandler.java
Labels: android, firestore, wip

#1316 Performance Monitoring upgrade
  android/src/main/java/io/invertase/firebase/perf/RNFirebasePerformance.java
  bridge/android/build.gradle
  bridge/e2e/perf/httpMetric.e2e.js
  bridge/e2e/perf/perf.e2e.js
  bridge/e2e/perf/trace.e2e.js
  ios/RNFirebase/perf/RNFirebasePerformance.h
  ios/RNFirebase/perf/RNFirebasePerformance.m
  lib/index.d.ts
  lib/modules/perf/HttpMetric.js
  lib/modules/perf/Trace.js
  lib/modules/perf/index.js
Labels: perf

#845 Improving type definitions to better match firebase-js-sdk
  src/index.d.ts
  src/index.js
  src/modules/core/firebase.js
Labels: typings

#1348 [iOS] Fix getInitialLink to handle unresolved url
  ios/RNFirebase/links/RNFirebaseLinks.m
Labels: await-invertase-feedback, bug, ios, links

#1400 Type declaration of AuthProvider.credential allows null token
  src/index.d.ts
Labels: await-invertase-feedback, investigate

#1393 Background notification fix for ios
  ios/RNFirebase.xcodeproj/project.pbxproj
  ios/RNFirebase/converters/RCTConvert+UIBackgroundFetchResult.h
  ios/RNFirebase/converters/RCTConvert+UIBackgroundFetchResult.m
  ios/RNFirebase/notifications/RNFirebaseNotifications.m
  src/index.d.ts
  src/modules/notifications/IOSNotification.js
  src/modules/notifications/IOSNotifications.js
  src/modules/notifications/Notification.js
  src/modules/notifications/index.js
Labels: await-invertase-feedback, ios, notifications
