Repository invertase/react-native-firebase, pull requests merged in 2019-11, with the labels that each got.

#2812 docs(vision): Fix incorrect Android package name
  docs/ml-vision/android.md
Labels: Blocked: Needs Review, Version: 6.x.x

#2866 fix(firestore): correctly apply internal `__name__` query modifier (fixes #2854)
  packages/firestore/e2e/issues.e2e.js
  packages/firestore/lib/FirestoreQuery.js
Labels: Platform: JavaScript, Service: Firestore, Version: 6.x.x

#2869 fix(firestore,ios): Settings incorrectly set multiple times
  packages/firestore/ios/RNFBFirestore/RNFBFirestoreCommon.m
Labels: Impact: Bug, Platform: iOS, Service: Firestore, Version: 6.x.x

#2875 fix(storage,ios): Handle null Storage metadata values
  packages/storage/ios/RNFBStorage/RNFBStorageCommon.m
Labels: Platform: iOS, Service: Storage, Version: 6.x.x

#2897 Made onAuthStateChanged, onIdTokenChanged and onUserChanged trigger asynchronously
  packages/auth/lib/index.js
Labels: Platform: JavaScript, Service: Authentication

#2913 fix(admob): add null checks for getCurrentActivity() usages
  packages/admob/android/src/main/java/io/invertase/firebase/admob/ReactNativeFirebaseAdMobInterstitialModule.java
  packages/admob/android/src/main/java/io/invertase/firebase/admob/ReactNativeFirebaseAdMobRewardedModule.java
Labels: Platform: Android, Service: AdMob

#2908 fix(messaging,ios): hasPermission checks authorizationStatus
  packages/messaging/ios/RNFBMessaging/RNFBMessagingModule.m
Labels: Platform: iOS, Service: Messaging, Version: 6.x.x

#2789 feat(remote-config): support minimumFetchInterval config setting
  packages/remote-config/android/src/main/java/io/invertase/firebase/config/UniversalFirebaseConfigModule.java
  packages/remote-config/e2e/config.e2e.js
  packages/remote-config/ios/RNFBConfig/RNFBConfigModule.m
  packages/remote-config/lib/index.d.ts
  packages/remote-config/lib/index.js
  packages/remote-config/lib/index.js.flow
Labels: Platform: Android, Platform: iOS, Service: Remote Config, Version: 6.x.x

#2821 feat(template): upgrade to React Native 0.61.4
  packages/template/project/_flowconfig
  packages/template/project/_gitignore
  packages/template/project/android/app/build.gradle
  packages/template/project/android/app/src/main/java/com/helloworld/MainApplication.java
  packages/template/project/android/build.gradle
  packages/template/project/android/gradle/wrapper/gradle-wrapper.properties
  packages/template/project/ios/HelloWorldTests/HelloWorldTests.m
  packages/template/project/ios/Podfile
  packages/template/project/package.json
Labels: Template, Version: 6.x.x

#2645 fix(messaging): typo in isRegisteredForRemoteNotifications
  packages/messaging/lib/index.js
Labels: Platform: JavaScript, Service: Messaging, Version: 6.x.x

#2868 feat(firestore): Support array-contains, array-contains-any & in filters
  docs/typedoc.json
  docs/typedoc.min.json
  packages/admob/RNFBAdMob.podspec
  packages/admob/android/build.gradle
  packages/analytics/RNFBAnalytics.podspec
  packages/analytics/android/build.gradle
  packages/app/RNFBApp.podspec
  packages/app/android/build.gradle
  packages/auth/RNFBAuth.podspec
  packages/crashlytics/RNFBCrashlytics.podspec
  packages/database/RNFBDatabase.podspec
  packages/database/android/build.gradle
  packages/dynamic-links/RNFBDynamicLinks.podspec
  packages/dynamic-links/android/build.gradle
  packages/firestore/RNFBFirestore.podspec
  packages/firestore/android/build.gradle
  packages/firestore/android/src/reactnative/java/io/invertase/firebase/firestore/ReactNativeFirebaseFirestoreQuery.java
  packages/firestore/e2e/Query/where.e2e.js
  packages/firestore/ios/RNFBFirestore/RNFBFirestoreQuery.m
  packages/firestore/lib/FirestoreQuery.js
  packages/firestore/lib/FirestoreQueryModifiers.js
  packages/firestore/lib/index.d.ts
  packages/functions/RNFBFunctions.podspec
  packages/functions/android/build.gradle
  packages/iid/RNFBIid.podspec
  packages/iid/android/build.gradle
  packages/in-app-messaging/RNFBInAppMessaging.podspec
  packages/in-app-messaging/android/build.gradle
  packages/indexing/RNFBIndexing.podspec
  packages/invites/android/build.gradle
  packages/messaging/RNFBMessaging.podspec
  packages/messaging/android/build.gradle
  packages/ml-natural-language/RNFBMLNaturalLanguage.podspec
  packages/ml-natural-language/android/build.gradle
  packages/ml-vision/RNFBMLVision.podspec
  packages/ml-vision/android/build.gradle
  packages/perf/RNFBPerf.podspec
  packages/perf/android/build.gradle
  packages/remote-config/RNFBRemoteConfig.podspec
  packages/remote-config/android/build.gradle
  packages/storage/RNFBStorage.podspec
  packages/storage/android/build.gradle
  tests/ios/Podfile.lock
Labels: Service: Firestore, Version: 6.x.x

#2750 fix(storage): fix video asset resources on iOS13
  packages/storage/ios/RNFBStorage/RNFBStorageCommon.m
Labels: Impact: Bug, Platform: iOS, Service: Storage

#2922 fix(admob,ios): use `AdMob` vs `Admob` for Pod name
  packages/admob/RNFBAdMob.podspec
Labels: Impact: Build Error, Platform: iOS, Service: AdMob, Version: 6.x.x

#2822 fix(analytics): ts logEvent params arg should be optional
  packages/analytics/lib/index.d.ts
  packages/analytics/lib/index.js.flow
Labels: Service: Analytics, Tools: Typings
