Repository invertase/react-native-firebase, pull requests merged in 2019-06, with the labels that each got.

#2202 [database] add push / fix require cycle warnings
  packages/common/lib/id.js
  packages/database/e2e/issues.e2e.js
  packages/database/e2e/onDisconnect/update.e2e.js
  packages/database/e2e/reference/push.e2e.js
  packages/database/e2e/reference/update.e2e.js
  packages/database/ios/RNFBDatabase/RNFBDatabaseQueryModule.m
  packages/database/lib/DatabaseOnDisconnect.js
  packages/database/lib/DatabaseQuery.js
  packages/database/lib/DatabaseReference.js
  packages/database/lib/DatabaseThenableReference.js
  packages/database/lib/index.d.ts
  packages/database/lib/index.js
  tests/e2e/mocha.opts
  tests/ios/Podfile.lock
Labels: Platform: JavaScript

#1892 [ANDROID][BUGFIX][ADMOB] Fix Admob crash from UnityAds with Admob Mediation
  android/src/main/java/io/invertase/firebase/admob/RNFirebaseAdMobRewardedVideo.java
  android/src/main/java/io/invertase/firebase/admob/RNFirebaseAdmobInterstitial.java
Labels: Impact: Crash, Service: AdMob, Version: 5.x.x, Version: 6.x.x

#1940 [Crashlytics][ENHANCEMENT] v5.x.x
  android/src/main/java/io/invertase/firebase/fabric/crashlytics/RNFirebaseCrashlytics.java
  ios/RNFirebase/fabric/crashlytics/RNFirebaseCrashlytics.m
  src/index.d.ts
  src/modules/crashlytics/index.js
  tests/e2e/crashlytics/crashlytics.e2e.js
Labels: Blocked: Needs Review, Help: iOS, Version: 5.x.x

#2131 [FIX][TYPESCRIPT][functions] add overload constructor for changing functions region or app
  src/index.d.ts
Labels: Blocked: User Follow Up, Service: Functions, Tools: Typings, Type: Bug Fix

#2203 [FEATURE][FIRESTORE][cacheSizeBytes]: expose SDK cacheSizeBytes prop
  android/src/main/java/io/invertase/firebase/firestore/RNFirebaseFirestore.java
  ios/RNFirebase/firestore/RNFirebaseFirestore.m
  src/index.d.ts
  src/modules/firestore/index.js
  src/utils/index.js
  tests/e2e/firestore/firestore.e2e.js
Labels: Service: Firestore, Version: 5.x.x

#2216 [BUGFIX][IOS][LINKS] Update linking restorationHandler implementation for iOS12
  ios/RNFirebase/links/RNFirebaseLinks.h
  ios/RNFirebase/links/RNFirebaseLinks.m
Labels: Platform: iOS, Service: Links, Version: 5.x.x

#2214 docs: add breaking change notice to postinstall
  package.json
Labels: Type: Docs, Version: 5.x.x

#2228 Fix android putFile progress events
  android/src/main/java/io/invertase/firebase/storage/RNFirebaseStorage.java
Labels: Platform: Android, Service: Storage, Version: 5.x.x

#2247 [BREAKING CHANGE][TYPES][Firestore] Document id can't be null
  src/index.d.ts
Labels: Service: Firestore, Tools: Typings

#2240 v5 Update all Firebase SDK dependencies to current
  .flowconfig
  android/build.gradle
  android/src/main/java/io/invertase/firebase/invites/RNFirebaseInvites.java
  android/src/main/java/io/invertase/firebase/invites/RNFirebaseInvitesPackage.java
  android/src/main/java/io/invertase/firebase/links/RNFirebaseLinks.java
  android/src/main/java/io/invertase/firebase/perf/RNFirebasePerformance.java
  ios/RNFirebase.xcodeproj/project.pbxproj
  ios/RNFirebase/invites/RNFirebaseInvites.h
  ios/RNFirebase/invites/RNFirebaseInvites.m
  ios/RNFirebase/links/RNFirebaseLinks.m
  package.json
  src/index.d.ts
  src/modules/core/app.js
  src/modules/core/firebase.js
  src/modules/invites/AndroidInvitation.js
  src/modules/invites/Invitation.js
  src/modules/invites/index.js
  src/modules/invites/types.js
  src/types/index.js
  tests/.gitignore
  tests/TestingAVD.log
  tests/android/app/build.gradle
  tests/android/app/src/main/AndroidManifest.xml
  tests/android/app/src/main/java/com/invertase/testing/MainApplication.java
  tests/android/build.gradle
  tests/ios/Podfile
  tests/ios/Podfile.lock
  tests/ios/testing.xcodeproj/project.pbxproj
Labels: Type: Firebase

#2235 Allows react-native-firebase to be used via Podfile with use_frameworks!
  ios/RNFirebase.podspec
Labels: Platform: iOS

#2303 [STORAGE][TYPES][BUGFIX] TaskEvent was incorrectly typed TaskState
  src/index.d.ts
Labels: Service: Storage, Tools: Typings, Version: 5.x.x
