Repository invertase/react-native-firebase, pull requests merged in 2019-07, with the labels that each got.

#2310 #2180 iOS bug fix: Collection was mutated while being enumerated
  ios/RNFirebase/auth/RNFirebaseAuth.m
Labels: Impact: Bug, Platform: iOS, Service: Authentication, Version: 5.x.x, Version: 6.x.x

#2328 [v5] Remove recursive header search from ios podspec
  ios/RNFirebase.podspec
Labels: Help: iOS, Impact: Build Error, Platform: iOS, Version: 5.x.x

#2383 [v6] Removed rnpm options from @react-native-firebase/storage package.json
  packages/storage/package.json
Labels: Service: Storage

#2414 [IOS][BUGFIX][ADMOB] - add new iOS framework search path Fixes #2210
  ios/RNFirebase.xcodeproj/project.pbxproj
Labels: Platform: iOS, Service: AdMob, Version: 5.x.x

#2415 [ANDROID][BUGFIX][link] - react-native@0.59 still needs rnpm
  package.json
Labels: Impact: Build Error, Platform: Android, Version: 5.x.x

#2396 ML Vision - updates/tests
  packages/ml-vision/android/src/main/java/io/invertase/firebase/ml/vision/UniversalFirebaseMLVisionBarcodeDetectorModule.java
  packages/ml-vision/e2e/barcode.e2e.js
  packages/ml-vision/e2e/documentText.e2e.js
  packages/ml-vision/e2e/face.e2e.js
  packages/ml-vision/e2e/label.e2e.js
  packages/ml-vision/e2e/landmark.e2e.js
  packages/ml-vision/e2e/text.e2e.js
  packages/ml-vision/lib/BarcodeDetectorTypes.d.ts
  packages/ml-vision/lib/VisionBarcodeDetectorOptions.js
  packages/ml-vision/lib/VisionCloudDocumentTextRecognizerOptions.js
  packages/ml-vision/lib/VisionCloudImageLabelerOptions.js
  packages/ml-vision/lib/VisionCloudLandmarkRecognizerOptions.js
  packages/ml-vision/lib/VisionCloudTextRecognizerOptions.js
  packages/ml-vision/lib/VisionFaceDetectorOptions.js
  packages/ml-vision/lib/VisionImageLabelerOptions.js
  packages/ml-vision/lib/index.d.ts
  packages/ml-vision/lib/index.js
  packages/ml-vision/lib/visionBarcodeDetectorOptions.js
  packages/ml-vision/lib/visionCloudDocumentTextRecognizerOptions.js
  packages/ml-vision/lib/visionCloudImageLabelerOptions.js
  packages/ml-vision/lib/visionCloudLandmarkRecognizerOptions.js
  packages/ml-vision/lib/visionCloudTextRecognizerOptions.js
  packages/ml-vision/lib/visionFaceDetectorOptions.js
  packages/ml-vision/lib/visionImageLabelerOptions.js
Labels: Platform: JavaScript

#2390 Dynamic Links - updates/tests
  packages/dynamic-links/e2e/builder.analytics.e2e.js
  packages/dynamic-links/e2e/builder.android.e2e.js
  packages/dynamic-links/e2e/builder.e2e.js
  packages/dynamic-links/e2e/builder.ios.e2e.js
  packages/dynamic-links/e2e/builder.itunes.e2e.js
  packages/dynamic-links/e2e/builder.navigation.e2e.js
  packages/dynamic-links/e2e/builder.social.e2e.js
  packages/dynamic-links/e2e/dynamicLinks.e2e.js
  packages/dynamic-links/lib/DynamicLinkAndroidParameters.js
  packages/dynamic-links/lib/DynamicLinkIOSParameters.js
  packages/dynamic-links/lib/DynamicLinkItunesParameters.js
  packages/dynamic-links/lib/DynamicLinkNavigationParameters.js
  packages/dynamic-links/lib/DynamicLinkParameters.js
  packages/dynamic-links/lib/DynamicLinkSocialParameters.js
  packages/dynamic-links/lib/builder.js
  packages/dynamic-links/lib/builders/analytics.js
  packages/dynamic-links/lib/builders/android.js
  packages/dynamic-links/lib/builders/ios.js
  packages/dynamic-links/lib/builders/itunes.js
  packages/dynamic-links/lib/builders/navigation.js
  packages/dynamic-links/lib/builders/social.js
  packages/dynamic-links/lib/index.d.ts
  packages/dynamic-links/lib/index.js
  packages/ml-vision/lib/BarcodeDetectorTypes.d.ts
Labels: Platform: JavaScript

#2424 [WIP] Storage implment list() & listAll()
  packages/storage/android/src/main/java/io/invertase/firebase/storage/ReactNativeFirebaseStorageCommon.java
  packages/storage/android/src/main/java/io/invertase/firebase/storage/ReactNativeFirebaseStorageModule.java
  packages/storage/e2e/StorageReference.e2e.js
  packages/storage/ios/RNFBStorage/RNFBStorageCommon.h
  packages/storage/ios/RNFBStorage/RNFBStorageCommon.m
  packages/storage/ios/RNFBStorage/RNFBStorageModule.m
  packages/storage/lib/StorageListResult.js
  packages/storage/lib/StorageReference.js
  packages/storage/lib/index.d.ts
  packages/storage/lib/index.js.flow
  tests/e2e/init.js
  tests/ios/Podfile.lock
Labels: Platform: JavaScript

#2423 Refactor messaging
  packages/common/lib/validate.js
  packages/messaging/e2e/messaging.e2e.js
  packages/messaging/e2e/remoteMessage.e2e.js
  packages/messaging/lib/RemoteMessageBuilder.js
  packages/messaging/lib/index.d.ts
  packages/messaging/lib/index.js
  packages/messaging/lib/remoteMessageOptions.js
Labels: Platform: JavaScript, Service: Messaging
