Repository invertase/react-native-firebase, pull requests merged in 2019-01, with the labels that each got.

#1803 Handle UNUserNotificationCenter completionHandlers
  ios/RNFirebase/notifications/RNFirebaseNotifications.m
Labels: ios, ios-help-wanted, notifications

#1805 [messaging] getToken/deleteToken/onTokenRefresh improvements
  android/src/main/java/io/invertase/firebase/messaging/RNFirebaseInstanceIdService.java
  android/src/main/java/io/invertase/firebase/messaging/RNFirebaseMessaging.java
  android/src/main/java/io/invertase/firebase/messaging/RNFirebaseMessagingService.java
  ios/RNFirebase/messaging/RNFirebaseMessaging.m
  src/modules/messaging/index.js
  tests/android/app/src/main/AndroidManifest.xml
  tests/e2e/messaging/messaging.e2e.js
  tests/index.android.js
  tests/package.json
Labels: ios, messaging, 🤖 android

#1513 [ts] fix Messaging requestPermission return type
  src/index.d.ts
Labels: await-maintainer-feedback, messaging, 👉 await-user-feedback
