Repository invertase/react-native-firebase, pull requests merged in 2019-08, with the labels that each got.

#2434 [natural-language] Update `suggestReplies` to accept an array of objects
  CHANGELOG.md
  docs/typedoc.json
  docs/typedoc.min.json
  packages/ml-natural-language/android/src/main/java/io/invertase/firebase/ml/naturallanguage/UniversalFirebaseMLNaturalLanguageSmartReplyModule.java
  packages/ml-natural-language/android/src/reactnative/java/io/invertase/firebase/ml/naturallanguage/RNFirebaseMLNaturalLanguageSmartReplyModule.java
  packages/ml-natural-language/e2e/smartReply.e2e.js
  packages/ml-natural-language/ios/RNFBMLNaturalLanguage/RCTConvert+FIRTextMessageArray.m
  packages/ml-natural-language/ios/RNFBMLNaturalLanguage/RNFBMLNaturalLanguageSmartReplyModule.m
  packages/ml-natural-language/lib/SmartReplyConversation.js
  packages/ml-natural-language/lib/index.d.ts
  packages/ml-natural-language/lib/index.js
  packages/ml-natural-language/lib/index.js.flow
  packages/ml-natural-language/lib/validateTextMessage.js
Labels: Platform: JavaScript

#2442 Fix #2316
  packages/auth/android/src/main/java/io/invertase/firebase/auth/ReactNativeFirebaseAuthModule.java
  packages/auth/e2e/user.e2e.js
  packages/auth/ios/RNFBAuth/RNFBAuthModule.m
  packages/auth/lib/User.js
  packages/auth/lib/index.d.ts
Labels: Platform: JavaScript

#2452 [WIP][v6][dynamic-links] bug fixes & tests for `onLink`/`getInitialLink`
  packages/auth/e2e/phone.e2e.js
  packages/dynamic-links/RNFBDynamicLinks.podspec
  packages/dynamic-links/e2e/dynamicLinks.e2e.js
  packages/dynamic-links/ios/RNFBDynamicLinks.podspec
  packages/dynamic-links/ios/RNFBDynamicLinks/RNFBDynamicLinksAppDelegateInterceptor.h
  packages/dynamic-links/ios/RNFBDynamicLinks/RNFBDynamicLinksAppDelegateInterceptor.m
  packages/dynamic-links/ios/RNFBDynamicLinks/RNFBDynamicLinksModule.m
  packages/dynamic-links/lib/index.js
  packages/messaging/lib/index.js
  tests/app.js
  tests/ios/Podfile.lock
  tests/ios/testing.xcodeproj/project.pbxproj
  tests/ios/testing/AppDelegate.m
  tests/ios/testing/Info.plist
  tests/ios/testing/testing.entitlements
Labels: Platform: JavaScript, Platform: iOS

#2479 [remote-config] rename namespace to `remoteConfig()` from `config()`
  CHANGELOG.md
  README.md
  docs/app/firebase-json.md
  docs/config/android.md
  docs/config/ios.md
  docs/config/quick-start.md
  docs/index.md
  docs/sidebar.yaml
  docs/typedoc.json
  docs/typedoc.min.json
  packages/app/lib/internal/constants.js
  packages/remote-config/.npmignore
  packages/remote-config/LICENSE
  packages/remote-config/README.md
  packages/remote-config/RNFBRemoteConfig.podspec
  packages/remote-config/android/.editorconfig
  packages/remote-config/android/build.gradle
  packages/remote-config/android/gradle/wrapper/gradle-wrapper.properties
  packages/remote-config/android/gradlew
  packages/remote-config/android/gradlew.bat
  packages/remote-config/android/lint.xml
  packages/remote-config/android/settings.gradle
  packages/remote-config/android/src/main/AndroidManifest.xml
  packages/remote-config/android/src/main/java/io/invertase/firebase/config/UniversalFirebaseConfigModule.java
  packages/remote-config/android/src/reactnative/AndroidManifest.xml
  packages/remote-config/android/src/reactnative/java/io/invertase/firebase/config/ReactNativeFirebaseConfigModule.java
  packages/remote-config/android/src/reactnative/java/io/invertase/firebase/config/ReactNativeFirebaseConfigPackage.java
  packages/remote-config/e2e/config.e2e.js
  packages/remote-config/ios/RNFBConfig.xcodeproj/project.pbxproj
  packages/remote-config/ios/RNFBConfig.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/remote-config/ios/RNFBConfig.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/remote-config/ios/RNFBConfig.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  packages/remote-config/ios/RNFBConfig.xcodeproj/xcshareddata/IDETemplateMacros.plist
  packages/remote-config/ios/RNFBConfig/RNFBConfigModule.h
  packages/remote-config/ios/RNFBConfig/RNFBConfigModule.m
  packages/remote-config/ios/RNFBRemoteConfig.podspec
  packages/remote-config/lib/index.d.ts
  packages/remote-config/lib/index.js
  packages/remote-config/lib/index.js.flow
  packages/remote-config/package.json
  packages/remote-config/type-test.ts
  tests/app.js
  tests/e2e/init.js
  tests/ios/Podfile.lock
  tests/ios/testing.xcodeproj/project.pbxproj
  tests/package.json
Labels: Platform: Android, Platform: JavaScript, Platform: iOS, Service: Remote Config, Version: 6.x.x

#2483 [in-app-messaging] rename namespace to `inAppMessaging()` from `fiam()`
  CHANGELOG.md
  README.md
  docs/fiam/index.md
  docs/fiam/quick-start.md
  docs/index.md
  docs/sidebar.yaml
  docs/typedoc.json
  docs/typedoc.min.json
  packages/app/lib/internal/constants.js
  packages/fiam/android/settings.gradle
  packages/in-app-messaging/.npmignore
  packages/in-app-messaging/LICENSE
  packages/in-app-messaging/README.md
  packages/in-app-messaging/RNFBInAppMessaging.podspec
  packages/in-app-messaging/android/.editorconfig
  packages/in-app-messaging/android/build.gradle
  packages/in-app-messaging/android/gradle/wrapper/gradle-wrapper.properties
  packages/in-app-messaging/android/gradlew
  packages/in-app-messaging/android/gradlew.bat
  packages/in-app-messaging/android/lint.xml
  packages/in-app-messaging/android/settings.gradle
  packages/in-app-messaging/android/src/main/AndroidManifest.xml
  packages/in-app-messaging/android/src/main/java/io/invertase/firebase/fiam/UniversalFirebaseFiamModule.java
  packages/in-app-messaging/android/src/reactnative/AndroidManifest.xml
  packages/in-app-messaging/android/src/reactnative/java/io/invertase/firebase/fiam/ReactNativeFirebaseFiamModule.java
  packages/in-app-messaging/android/src/reactnative/java/io/invertase/firebase/fiam/ReactNativeFirebaseFiamPackage.java
  packages/in-app-messaging/e2e/fiam.e2e.js
  packages/in-app-messaging/ios/RNFBFiam.xcodeproj/project.pbxproj
  packages/in-app-messaging/ios/RNFBFiam.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/in-app-messaging/ios/RNFBFiam.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/in-app-messaging/ios/RNFBFiam.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  packages/in-app-messaging/ios/RNFBFiam.xcodeproj/xcshareddata/IDETemplateMacros.plist
  packages/in-app-messaging/ios/RNFBFiam/RNFBFiamModule.h
  packages/in-app-messaging/ios/RNFBFiam/RNFBFiamModule.m
  packages/in-app-messaging/ios/RNFBInAppMessaging.podspec
  packages/in-app-messaging/lib/index.d.ts
  packages/in-app-messaging/lib/index.js
  packages/in-app-messaging/lib/index.js.flow
  packages/in-app-messaging/package.json
  packages/in-app-messaging/type-test.ts
  tests/app.js
  tests/e2e/init.js
  tests/firebase.json
  tests/ios/Podfile.lock
  tests/package.json
Labels: Platform: Android, Platform: JavaScript, Platform: iOS, Version: 6.x.x

#2485 Update tests README
  package.json
  tests/README.md
  tests/ios/Podfile.lock
Labels: Type: Testing

#2504 Update core documentation
  docs/app/android.md
  docs/app/client.md
  docs/app/ios.md
  docs/app/quick-start.md
Labels: Type: Docs

#2487 Move @react-native-firebase/utils into /app
  CHANGELOG.md
  README.md
  docs/app/client.md
  docs/app/quick-start.md
  docs/index.md
  docs/typedoc.json
  docs/typedoc.min.json
  docs/utils/index.md
  docs/utils/quick-start.md
  packages/analytics/e2e/analytics.e2e.js
  packages/analytics/lib/index.js
  packages/app/android/src/reactnative/java/io/invertase/firebase/app/ReactNativeFirebaseAppPackage.java
  packages/app/android/src/reactnative/java/io/invertase/firebase/utils/ReactNativeFirebaseUtilsModule.java
  packages/app/e2e/utils.e2e.js
  packages/app/e2e/utilsStatics.e2e.js
  packages/app/ios/RNFBApp.xcodeproj/project.pbxproj
  packages/app/ios/RNFBApp/RNFBUtilsModule.h
  packages/app/ios/RNFBApp/RNFBUtilsModule.m
  packages/app/lib/index.d.ts
  packages/app/lib/index.js
  packages/app/lib/utils/UtilsStatics.js
  packages/app/lib/utils/index.js
  packages/app/type-test.ts
  packages/utils/.npmignore
  packages/utils/LICENSE
  packages/utils/README.md
  packages/utils/RNFBUtils.podspec
  packages/utils/android/.editorconfig
  packages/utils/android/build.gradle
  packages/utils/android/gradle/wrapper/gradle-wrapper.properties
  packages/utils/android/gradlew
  packages/utils/android/gradlew.bat
  packages/utils/android/lint.xml
  packages/utils/android/settings.gradle
  packages/utils/android/src/main/AndroidManifest.xml
  packages/utils/android/src/main/java/io/invertase/firebase/utils/ReactNativeFirebaseUtilsPackage.java
  packages/utils/ios/RNFBUtils.podspec
  packages/utils/ios/RNFBUtils.xcodeproj/project.pbxproj
  packages/utils/ios/RNFBUtils.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/utils/ios/RNFBUtils.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/utils/ios/RNFBUtils.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  packages/utils/ios/RNFBUtils.xcodeproj/xcshareddata/IDETemplateMacros.plist
  packages/utils/lib/index.d.ts
  packages/utils/lib/index.js.flow
  packages/utils/package.json
  packages/utils/type-test.ts
  tests/app.js
  tests/ios/Podfile.lock
  tests/package.json
Labels: Platform: Android, Platform: JavaScript, Platform: iOS
