Repository invertase/react-native-firebase, pull requests merged in 2019-05, with the labels that each got.

#2092 [Messaging] Add null check to acquire WakeLock on Android
  android/src/main/java/io/invertase/firebase/messaging/RNFirebaseMessagingService.java
  android/src/main/java/io/invertase/firebase/notifications/RNFirebaseBackgroundNotificationActionReceiver.java
Labels: messaging, v6, 🤖 android

#1879 [JS][BUGFIX] [package.json] - Fix build on Windows (BABEL_ENV error)
  package-lock.json
  package.json
  yarn.lock
Labels: Impact: Build Error, Platform: Windows

#2111 [STORAGE][BUGFIX][ANDROID] - Preserve `file://` prefix
  src/modules/storage/reference.js
Labels: Platform: Android, Service: Storage, Version: 5.x.x

#2150 Convert iid to gms tasks
  packages/iid/android/build.gradle
  packages/iid/android/src/main/java/io/invertase/firebase/iid/UniversalFirebaseIidModule.java
  packages/iid/android/src/reactnative/AndroidManifest.xml
  packages/iid/android/src/reactnative/java/io/invertase/firebase/iid/ReactNativeFirebaseIidModule.java
  packages/iid/android/src/reactnative/java/io/invertase/firebase/iid/ReactNativeFirebaseIidPackage.java
Labels: Platform: Android

#2152 @ehesp/v6/config gms
  packages/app/android/src/main/java/io/invertase/firebase/common/UniversalFirebaseModule.java
  packages/config/android/build.gradle
  packages/config/android/src/main/java/io/invertase/firebase/config/ReactNativeFirebaseConfigModule.java
  packages/config/android/src/main/java/io/invertase/firebase/config/UniversalFirebaseConfigModule.java
  packages/config/android/src/reactnative/AndroidManifest.xml
  packages/config/android/src/reactnative/java/io/invertase/firebase/config/ReactNativeFirebaseConfigModule.java
  packages/config/android/src/reactnative/java/io/invertase/firebase/config/ReactNativeFirebaseConfigPackage.java
Labels: Platform: Android
