Repository invertase/react-native-firebase, pull requests merged in 2020-03, with the labels that each got.

#2734 Fix exception caused by a race condition in the database module on iOS
  ios/RNFirebase/database/RNFirebaseDatabase.m
Labels: Blocked: V5 CI, Platform: iOS, Service: Database, Type: Bug Fix, Version: 5.x.x

#3017 requestAuthorizationWithOptions before registerForRemoteNotifications
  packages/messaging/ios/RNFBMessaging/RNFBMessagingModule.m
Labels: Blocked: Needs Review, Impact: Bug, Service: Messaging, Type: Bug Fix, Version: >= 6

#3316 fix(dynamic-links,ios): links options not correctly applied
  packages/dynamic-links/ios/RNFBDynamicLinks/RNFBDynamicLinksModule.m
Labels: cla: yes

#3295 fix(template): avoid out-of-memory in Android build
  packages/template/project/android/gradle.properties
Labels: Impact: Build Error, Platform: Android, Template

#3360 fix(auth): user.metadata uses ISO strings
  .gitignore
  packages/auth/e2e/user.e2e.js
  packages/auth/lib/User.js
  tests/index.android.js
Labels: Service: Authentication
