Repository invertase/react-native-firebase, pull requests merged in 2020-06, with the labels that each got.

#3800 fix(android): fixed IllegalMonitorStateException crashed issue
  packages/firestore/android/src/reactnative/java/io/invertase/firebase/firestore/ReactNativeFirebaseFirestoreTransactionHandler.java
Labels: Impact: Crash, Platform: Android, Service: Firestore

#3807 docs(storage): fix minor typo in storage docs
  docs/storage/usage/index.md
Labels: Service: Storage, Type: Docs

#3814 feat(dynamic-links): API to directly resolve dynamic link
  packages/dynamic-links/android/src/main/java/io/invertase/firebase/dynamiclinks/ReactNativeFirebaseDynamicLinksModule.java
  packages/dynamic-links/e2e/dynamicLinks.e2e.js
  packages/dynamic-links/ios/RNFBDynamicLinks/RNFBDynamicLinksModule.m
  packages/dynamic-links/lib/index.d.ts
  packages/dynamic-links/lib/index.js
  packages/dynamic-links/lib/index.js.flow
Labels: Service: Links

#3580 feat(crashlytics)!: upgrade to new Firebase Crashlytics SDK
  docs/crashlytics/android-setup.md
  docs/crashlytics/ios-setup.md
  docs/index.md
  packages/app/ios_config.sh
  packages/crashlytics/RNFBCrashlytics.podspec
  packages/crashlytics/android/build.gradle
  packages/crashlytics/android/src/main/java/io/invertase/firebase/crashlytics/ReactNativeFirebaseCrashlyticsInitProvider.java
  packages/crashlytics/android/src/main/java/io/invertase/firebase/crashlytics/ReactNativeFirebaseCrashlyticsModule.java
  packages/crashlytics/e2e/crashlytics.e2e.js
  packages/crashlytics/ios/RNFBCrashlytics/RNFBCrashlyticsInitProvider.m
  packages/crashlytics/ios/RNFBCrashlytics/RNFBCrashlyticsModule.m
  packages/crashlytics/ios_config.sh
  packages/crashlytics/lib/index.d.ts
  packages/crashlytics/lib/index.js
  packages/crashlytics/lib/index.js.flow
  packages/crashlytics/type-test.ts
  tests/ios/Podfile.lock
  tests/ios/testing.xcodeproj/project.pbxproj
Labels: Service: Crashlytics
