Repository invertase/react-native-firebase, pull requests merged in 2020-07, with the labels that each got.

#3868 docs(messaging): fix example for iOS - Requesting permissions
  docs/messaging/usage/index.md
Labels: Blocked: Needs Review, Service: Messaging, Tools: Typings, Type: Bug Fix, Type: Docs

#3866 fix: correct androidResolutionForPlayServices API
  packages/app/lib/utils/index.js
Labels: API: Utils, Platform: Android

#3878 docs(crashlytics,ios): remove manual setup steps for iOS
  docs/crashlytics/ios-setup.md
  docs/crashlytics/usage/index.md
Labels: Service: Crashlytics, Type: Docs

#3870 fix(dynamic-links,ios): resolveLink() does not always resolve
  packages/dynamic-links/e2e/dynamicLinks.e2e.js
  packages/dynamic-links/ios/RNFBDynamicLinks/RNFBDynamicLinksModule.m
Labels: Blocked: Needs Review, Platform: iOS, Service: Links

#3885 fix(types): add sentTime to FirebaseMessagingTypes.RemoteMessage
  packages/messaging/lib/index.d.ts
Labels: Service: Messaging, Tools: Typings, Type: Bug Fix

#3901 doc(storage): fix multiple buckets example
  docs/storage/usage/index.md
Labels: Blocked: Missing CLA

#3925 docs(messaging): update server-integration.md
  docs/messaging/server-integration.md
Labels: Service: Messaging, Type: Docs

#3984 docs: typo
  docs/storage/usage/index.md
Labels: Type: Bug Fix, Type: Docs

#3979 docs: use the example.com domain
  docs/auth/usage/index.md
Labels: Type: Bug Fix, Type: Docs

#3896 feat(messaging,android): save notification payload for messages that arrive in the foreground
  packages/messaging/android/src/main/java/io/invertase/firebase/messaging/ReactNativeFirebaseMessagingReceiver.java
Labels: Blocked: Needs Review
