Repository invertase/react-native-firebase, pull requests merged in 2020-01, with the labels that each got.

#3013 fix(crashlytics,ios): version bump native ios deps
  packages/crashlytics/RNFBCrashlytics.podspec
  tests/ios/Podfile.lock
Labels: Platform: iOS, Service: Crashlytics

#3112 docs(crashlytics): improve Crashlytics docs in response to #2724
  docs/crashlytics/quick-start.md
Labels: Blocked: User Follow Up, Type: Docs

#3135 fix(app,ios): handle Info.plist file paths with spaces
  packages/app/ios_config.sh
Labels: Platform: iOS, Version: 6.x.x

#2850 fix(app,ios): use correct import of RCTBridgeModule.h
  packages/app/ios/RNFBApp/RNFBSharedUtils.h
Labels: Impact: Build Error, Version: 6.x.x

#2985 fix(admob,android): null check activity in consent form
  packages/admob/android/src/main/java/io/invertase/firebase/admob/ReactNativeFirebaseAdMobConsentModule.java
Labels: Impact: Crash, Service: AdMob, Version: 6.x.x

#3150 add key to the Reference type for realtime db
  packages/database/lib/index.d.ts
Labels: Service: Database, Tools: Typings, Version: 6.x.x

#2184 docs(crashlytics): iOS manual integration steps
  docs/crashlytics/ios.md
Labels: Version: 6.x.x

#2560 docs(firestore): update Android & iOS manual integration steps
  docs/firestore/android.md
  docs/firestore/ios.md
Labels: Service: Firestore, Type: Docs
