Repository invertase/react-native-firebase, pull requests merged in 2020-04, with the labels that each got.

#3388 feat(ios): allow static_framework usage via Podfile global
  packages/admob/RNFBAdMob.podspec
  packages/analytics/RNFBAnalytics.podspec
  packages/app/RNFBApp.podspec
  packages/auth/RNFBAuth.podspec
  packages/crashlytics/RNFBCrashlytics.podspec
  packages/database/RNFBDatabase.podspec
  packages/dynamic-links/RNFBDynamicLinks.podspec
  packages/firestore/RNFBFirestore.podspec
  packages/functions/RNFBFunctions.podspec
  packages/iid/RNFBIid.podspec
  packages/in-app-messaging/RNFBInAppMessaging.podspec
  packages/messaging/RNFBMessaging.podspec
  packages/ml-natural-language/RNFBMLNaturalLanguage.podspec
  packages/ml-vision/RNFBMLVision.podspec
  packages/perf/RNFBPerf.podspec
  packages/remote-config/RNFBRemoteConfig.podspec
  packages/storage/RNFBStorage.podspec
  packages/template/project/ios/Podfile
  tests/ios/Podfile
  tests/ios/Podfile.lock
Labels: Impact: Build Error, Platform: iOS

#3327 fix(functions): throw UNAVAILABLE code on network IO errors
  packages/functions/android/src/reactnative/java/io/invertase/firebase/functions/ReactNativeFirebaseFunctionsModule.java
Labels: Platform: Android, Service: Functions

#3351 fix(analytics): logEvent params can be objects, further fix for…
  packages/analytics/lib/index.js
  packages/analytics/lib/index.js.flow
Labels: Service: Analytics

#3433 chore: upgrade testing project to RN 0.62.x
  .eslintignore
  .eslintrc
  .eslintrc.js
  .gitattributes
  .prettierrc
  .prettierrc.js
  docs/typedoc.json
  docs/typedoc.min.json
  package.json
  packages/admob/android/gradle/wrapper/gradle-wrapper.properties
  packages/analytics/android/gradle/wrapper/gradle-wrapper.properties
  packages/app/android/gradle/wrapper/gradle-wrapper.properties
  packages/auth/android/gradle/wrapper/gradle-wrapper.properties
  packages/crashlytics/android/gradle/wrapper/gradle-wrapper.properties
  packages/database/android/gradle/wrapper/gradle-wrapper.properties
  packages/database/e2e/query/on.e2e.js
  packages/database/e2e/query/once.e2e.js
  packages/database/e2e/query/orderByValue.e2e.js
  packages/dynamic-links/android/gradle/wrapper/gradle-wrapper.properties
  packages/firestore/android/gradle/wrapper/gradle-wrapper.properties
  packages/functions/android/gradle/wrapper/gradle-wrapper.properties
  packages/iid/android/gradle/wrapper/gradle-wrapper.properties
  packages/in-app-messaging/android/gradle/wrapper/gradle-wrapper.properties
  packages/messaging/android/gradle/wrapper/gradle-wrapper.properties
  packages/ml-natural-language/android/gradle/wrapper/gradle-wrapper.properties
  packages/ml-vision/android/gradle/wrapper/gradle-wrapper.properties
  packages/perf/android/gradle/wrapper/gradle-wrapper.properties
  packages/remote-config/android/gradle/wrapper/gradle-wrapper.properties
  packages/storage/android/gradle/wrapper/gradle-wrapper.properties
  packages/template/project/android/gradle/wrapper/gradle-wrapper.properties
  tests/.flowconfig
  tests/android/app/build.gradle
  tests/android/app/src/androidTest/java/com/invertase/testing/DetoxTest.java
  tests/android/app/src/main/AndroidManifest.xml
  tests/android/app/src/main/java/com/invertase/testing/MainActivity.java
  tests/android/app/src/main/java/com/invertase/testing/MainApplication.java
  tests/android/build.gradle
  tests/android/gradle/wrapper/gradle-wrapper.properties
  tests/android/settings.gradle
  tests/app.js
  tests/flow-typed/firebase.js
  tests/index.android.js
  tests/index.js
  tests/ios/Podfile
  tests/ios/Podfile.lock
  tests/ios/testing.xcodeproj/project.pbxproj
  tests/ios/testing.xcodeproj/xcshareddata/xcschemes/testing Release.xcscheme
  tests/ios/testing.xcodeproj/xcshareddata/xcschemes/testing.xcscheme
  tests/metro.config.js
  tests/package.json
  tests/type-test.js.flow
  tslint.json
Labels: Type: Testing

#3495 fix(messaging): add activity check to getInitialNotification
  .spellcheck.dict.txt
  docs/messaging/notifications.md
  packages/messaging/android/src/main/java/io/invertase/firebase/messaging/ReactNativeFirebaseMessagingModule.java
Labels: Service: Messaging

#3427 fix(messaging,ios): keep original UNUserNotificationCenter delegate
  .spellcheck.dict.txt
  docs/messaging/notifications.md
  docs/messaging/usage/index.md
  docs/messaging/usage/ios-setup.md
  docs/releases/v6.4.0.md
  docs/typedoc.json
  docs/typedoc.min.json
  packages/app/ios/RNFBApp/RNFBJSON.m
  packages/messaging/android/src/main/java/io/invertase/firebase/messaging/ReactNativeFirebaseMessagingModule.java
  packages/messaging/ios/RNFBMessaging/RNFBMessaging+AppDelegate.m
  packages/messaging/ios/RNFBMessaging/RNFBMessaging+NSNotificationCenter.m
  packages/messaging/ios/RNFBMessaging/RNFBMessaging+UNUserNotificationCenter.h
  packages/messaging/ios/RNFBMessaging/RNFBMessaging+UNUserNotificationCenter.m
  packages/messaging/lib/index.d.ts
  packages/messaging/lib/index.js
  tests/firebase.json
Labels: Platform: iOS, Service: Messaging
