Repository invertase/react-native-firebase, pull requests merged in 2020-08, with the labels that each got.

#4061 Remove unavailable firebase reference
  docs/storage/usage/index.md
Labels: Blocked: Missing CLA, Service: Storage, Type: Docs

#4063 docs: update versions in install docs
  docs/index.md
Labels: Blocked: Needs Review, Type: Docs

#4064 docs(crashlytics, install): bump firebase crashlytics plugin version
  docs/crashlytics/android-setup.md
Labels: Service: Crashlytics, Type: Docs

#4054 fix(Storage): AL (asset library) methodology deprecated since iOS 8
  packages/app/ios/RNFBApp/RNFBUtilsModule.m
  packages/storage/ios/RNFBStorage/RNFBStorageCommon.m
Labels: Impact: Build Error, Platform: iOS, Service: Storage

#4068 fix(remote-config): error calling getValue() before fetch
  packages/remote-config/lib/index.js
Labels: Blocked: Needs Review, Impact: Crash, Service: App/Core

#3922 refactor(auth)!: setLanguageCode no longer a setter
  docs/typedoc.json
  docs/typedoc.min.json
  packages/auth/android/src/main/java/io/invertase/firebase/auth/ReactNativeFirebaseAuthModule.java
  packages/auth/e2e/auth.e2e.js
  packages/auth/ios/RNFBAuth/RNFBAuthModule.m
  packages/auth/lib/index.d.ts
  packages/auth/lib/index.js
Labels: Workflow: Needs Second Review, Workflow: Pending Merge

#4102 docs(messaging): emphasize iOS simulators do not handle FCM
  docs/messaging/usage/index.md
Labels: Service: Messaging, Type: Docs, Workflow: Needs Review

#4131 fix(ios, analytics): remove now-optional analytics dependencies
  packages/dynamic-links/RNFBDynamicLinks.podspec
  packages/in-app-messaging/RNFBInAppMessaging.podspec
  packages/messaging/RNFBMessaging.podspec
  packages/remote-config/RNFBRemoteConfig.podspec
Labels: Platform: iOS, Service: Analytics, Workflow: Pending Merge, Workflow: Waiting for User Response

#4144 fix: undelivered background data message ios
  packages/messaging/ios/RNFBMessaging/RNFBMessaging+AppDelegate.m
Labels: Platform: iOS, Service: Messaging

#4138 fix(ios, dynamic-links): add dep to AppDelegateSwizzler for links in isolation
  packages/dynamic-links/RNFBDynamicLinks.podspec
Labels: Impact: Build Error, Platform: iOS, Service: Links, Workflow: Pending Merge

#4147 fix(e2e): add retry to gem/yarn/npm/pod/brew network commands
  .github/workflows/docs.yml
  .github/workflows/linting.yml
  .github/workflows/publish.yml
  .github/workflows/tests_e2e.yml
  .github/workflows/tests_jest.yml
Labels: Workflow: Pending Merge

#4142 chore(messaging): clean up messaging
  packages/messaging/ios/RNFBMessaging/RNFBMessaging+FIRMessagingDelegate.m
Labels: Workflow: Pending Merge

#4155 docs(messaging): fix example function parenthesis
  docs/messaging/usage/index.md
Labels: Blocked: Missing CLA

#4145 feat(analytics): add 'logScreenView' API and deprecate `setCurrentScreen` API.
  docs/analytics/screen-tracking.md
  packages/analytics/__tests__/analytics.test.ts
  packages/analytics/android/src/main/java/io/invertase/firebase/analytics/UniversalFirebaseAnalyticsModule.java
  packages/analytics/android/src/reactnative/java/io/invertase/firebase/analytics/ReactNativeFirebaseAnalyticsModule.java
  packages/analytics/e2e/analytics.e2e.js
  packages/analytics/ios/RNFBAnalytics/RNFBAnalyticsModule.m
  packages/analytics/lib/index.d.ts
  packages/analytics/lib/index.js
  packages/analytics/lib/structs.js
  packages/analytics/type-test.ts
Labels: Workflow: Pending Merge

#4170 docs: Added react-native-clean-project and template app script to tips docs
  docs/faqs-and-tips.md
Labels: Workflow: Pending Merge

#4169 docs(remote-config)!: update docs to be explicit about new behavior
  packages/remote-config/lib/index.d.ts
Labels: Workflow: Pending Merge

#4100 fix(database): bug when passing invalid keys as a reference
  packages/database/e2e/database.e2e.js
  packages/database/e2e/reference/child.e2e.js
  packages/database/lib/index.js
Labels: Workflow: Pending Merge

#4172 docs(remote-config, CHANGELOG): prettify breaking changes note
  packages/remote-config/CHANGELOG.md
Labels: Workflow: Pending Merge

#4171 chore(tests, jest): add time to jest test workflow timeout
  .github/workflows/tests_jest.yml
Labels: Workflow: Pending Merge

#4174 docs(analytics): add screen_class to navigation screen tracking examples
  docs/analytics/screen-tracking.md
Labels: Workflow: Pending Merge

#4177 fix(database): `.` is a valid character in ref path
  packages/database/e2e/database.e2e.js
  packages/database/e2e/reference/child.e2e.js
  packages/database/lib/index.js
Labels: Service: Database, Workflow: Pending Merge

#4176 feat(firestore): support waitForPendingWrites() API
  packages/firestore/android/src/main/java/io/invertase/firebase/firestore/UniversalFirebaseFirestoreModule.java
  packages/firestore/android/src/reactnative/java/io/invertase/firebase/firestore/ReactNativeFirebaseFirestoreModule.java
  packages/firestore/e2e/firestore.e2e.js
  packages/firestore/ios/RNFBFirestore/RNFBFirestoreModule.m
  packages/firestore/lib/index.d.ts
  packages/firestore/lib/index.js
Labels: Service: Firestore, Type: In Progress, Type: New Feature, Workflow: Needs Review, Workflow: Pending Merge

#4181 chore(lint): allow enough total time for retries to work
  .github/workflows/linting.yml
Labels: Workflow: Needs Review, Workflow: Pending Merge

#4180 fix(ios, messaging): register background handler task
  packages/messaging/ios/RNFBMessaging/RNFBMessaging+AppDelegate.m
Labels: Workflow: Needs Second Review, Workflow: Pending Merge

#4182 chore: create patch-packages artifact vs published release
  .github/workflows/create_test_patches.yml
Labels: Workflow: Needs Review
