Repository invertase/react-native-firebase, pull requests merged in 2020-05, with the labels that each got.

#3552 fix: onTokenChange method causing app to crash
  packages/messaging/lib/index.js
Labels: Impact: Breaking Change, Platform: JavaScript, Service: Messaging

#3579 feat(messaging): support loc keys on notification payloads
  packages/messaging/android/src/main/java/io/invertase/firebase/messaging/ReactNativeFirebaseMessagingSerializer.java
  packages/messaging/ios/RNFBMessaging/RNFBMessagingSerializer.m
  packages/messaging/lib/index.d.ts
Labels: Help: iOS, Priority: P1, Service: Messaging

#3525 docs(messaging): update example
  docs/messaging/usage/index.md
Labels: Blocked: Missing CLA

#3701 fix(messaging,ios): crash receiving notification with image
  packages/messaging/ios/RNFBMessaging/RNFBMessagingSerializer.m
Labels: Blocked: Needs Review, Impact: Crash, Platform: iOS, Service: Messaging, Version: >= 6
