Repository invertase/react-native-firebase, pull requests merged in 2020-02, with the labels that each got.

#2604 feat(firestore): add QueryDocumentSnapshot interface
  packages/firestore/lib/index.d.ts
Labels: Service: Firestore, Tools: Typings, Version: 6.x.x

#3172 fix type of RemoteMessage data property
  src/index.d.ts
Labels: Blocked: User Follow Up, Service: Messaging, Tools: Typings, Version: 5.x.x

#3213 fix(android,build): use correct plugin & BoM versions
  packages/admob/android/build.gradle
  packages/analytics/android/build.gradle
  packages/app/android/build.gradle
  packages/auth/android/build.gradle
  packages/crashlytics/android/build.gradle
  packages/database/android/build.gradle
  packages/dynamic-links/android/build.gradle
  packages/firestore/android/build.gradle
  packages/functions/android/build.gradle
  packages/iid/android/build.gradle
  packages/in-app-messaging/android/build.gradle
  packages/messaging/android/build.gradle
  packages/ml-natural-language/android/build.gradle
  packages/ml-vision/android/build.gradle
  packages/perf/android/build.gradle
  packages/remote-config/android/build.gradle
  packages/storage/android/build.gradle
Labels: Platform: Android
