Repository invertase/react-native-firebase, pull requests merged in 2024-10, with the labels that each got.

#8011 fix(analytics): typo in type declarations
  packages/analytics/lib/index.d.ts
  packages/analytics/lib/modular/index.d.ts
Labels: plugin: analytics, tools: typings, Workflow: Needs Second Review, Needs Attention

#8076 feat(ios, sdk): adopt firebase-ios-sdk 11.4.0
  docs/index.md
  packages/app/package.json
  tests/ios/Podfile.lock
Labels: Workflow: Pending Merge

#8015 docs: Update axios-integration.md
  docs/perf/axios-integration.md
Labels: Workflow: Pending Merge, type: documentation

#7908 feat(analytics): allow custom event parameters for Item in events
  packages/analytics/__tests__/analytics.test.ts
  packages/analytics/lib/index.d.ts
  packages/analytics/lib/structs.js
Labels: plugin: analytics, blocked: customer-response
